---
const { tool } = Astro.props
---

<div
  class="flex w-fit items-center gap-2 pl-2 font-medium"
  transition:name={tool.route}
>
  <img
    width="24"
    height="24"
    src={tool.image}
    alt={tool.name}
    draggable={false}
    transition:name={tool.image}
  />
  <span transition:name={tool.name}>{tool.name}</span>
</div>
